.form {
    text-align: center;
 
   background-color: hsl(35, 26%, 15%);
    background-position: cover;
    box-shadow: black 10px 10px 10px;
    padding: 100px 50px 50px 50px;
    max-width: 600px;
    border-radius: 8px;
    
}

.form__fieldset {
    background-color: hsl(419, 98%, 96%);
    border: hsl(43, 74%, 49%) solid 3px;
    border-radius: 8px;
    max-width: 600px;
    text-align: center;
}

.form__amount .form__result {
    border-radius: 4px;
    border: hsl(0, 0%, 60%) solid 1px;
    padding: 5px;
    max-width: 300px;
    width: 100%;
}

.form__legend {
    background-color: hsl(187, 33%, 66%);
    border: hsl(43, 74%, 49%) solid 2px;
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    letter-spacing: 0.06ex;

}

.form__labelText {
    display: inline-block;
    max-width: 150px;
    width: 100%;
}

.form__button {
    border: hsl(43, 74%, 49%) solid 2px;
    border-radius: 8px;
    background-color: rgb(236, 241, 237);
    margin-top: 20px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

.form__button:hover {
    background-color: hsl(187, 33%, 56%);
}