html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}


body {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Play', sans-serif;  
    background-image: url("https://i.postimg.cc/TwbLZnwd/money.jpg");
background-size: cover;
background-position: center;


}